<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login User</title>
</head>
<body class="Login User">
    <div class="Login Box">
        <p>Login</p>
        <br>
        <p>Username</p>
        <input type="text" id="UsernameForm" name="userUsername"required>
        <br>
        <p>Password</p>
        <input type="text" id="UserPasswordForm" name="userPassword" required>
        <br>
        <Button>Login</Button>
        <Button>Signup</Button>
    </div>
</body>
</html>