<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/Userstyles.css">
    <title>Login User</title>
</head>
<body class="Login User">
    <nav>
        <div class=navBar>
            <p>Reservation Services</p>
        </div>
    </nav>
    <div class="Login Box">
        <form action="/" method="POST">
            <p>Login</p>
            <br>
            <p>Username</p>
            <input type="email" id="UsernameForm" name="Username"required>
            <br>
            <p>Password</p>
            <input type="password" id="UserPasswordForm"  name="userPassword" required>
            <br>
            <Button id="LoginButton">Login</Button>
            <Button id="SignupButton" form="form2">Signup</Button>
        </form>
        <form action="/register" method='Get' id="form2">
        </form>
    </div>
    
</body>
</html>