<!DOCTYPE html>
<html lang="en" data-theme="light">
    
<%- include('./partials/header.ejs') %> 

<body class="Login User">
    <nav>
        <ul>
            <li><a href="">Reserve.Me</a></li>
            <li></li>
        </ul>
    </nav>
    <div class="loginBox">
        <form action="/" method="POST" id="form1">
            <p>Login</p>
            <p>Email</p>
            <input type="email" name="userName" required>
            <p>Password</p>
            <input type="password" name="userPassword" required>
            <button form="form1">Login</button>
            <button form="form2">Register</button>
        </form>
        <form action="/admin/register" method="GET" id="form2"></form>
    </div>
    
</body>
</html>