<!DOCTYPE html>
<html lang="en" data-theme="light">
    <%- include('./partials/header.ejs') %>

<body>
    <nav>
        <ul>
            <li><a href="">Reserve.Me Admin</a></li>
            <li></li>
        </ul>
    </nav>
    <div class="loginBox">
        <form action="/admin" method="POST" id="form1">
            <p>Login as Admin</p>
            <p>Admin</p>
            <input type="email" name="adminName" required>
            <p>Password</p>
            <input type="password" name="adminPassword" required>
            <button form="form1">Login</button>
            <button form="form2">Register</button>
        </form>
        <form action="/admin/register" method="GET" id="form2"></form>
    </div>
</body>
</html>