<nav>
    <ul>
        <li><a href="/main">Reserve.Me</a></li>
        <li><a href="">Borrowed Items</a></li>
        <li><a href="">Returned Items</a></li>
        <li><a href="">Profile Settings</a></li>
        <li><a href="">Mode</a></li>
    </ul>
</nav>