<nav>
    <ul>
        <li><a href="/main">Reservation Site</a></li>
        <li><a href="">Borrowed Items</a></li>
        <li><a href="">Returned Items</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Mode</a></li>
    </ul>
</nav>