.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

*{
    margin: 0px;    
}

[data-theme="light"]{
    --background1:#FFFFE7;
    --background2:#9AAAAA;
}

body{
    background-color: var(--background1);
}

/* Navigation Bar */
nav{
    height: 7vh;
    width: 100vw;
    text-wrap: nowrap;
}

nav ul{     
    display: flex;
    height: 100%;
    align-items: center;
    list-style-type: none; 
    font-family: 'Raleway';
    background-color: var(--background2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav ul li:first-child{
    margin-right: auto;
    text-wrap: nowrap;
    text-align: center;
    text-justify: center;
    font-family: 'Raleway';
    font-size: 49px;
    font-weight: 450;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Raleway'
}

nav ul li:not(:nth-child(1)){
    float: right;
    text-align: center;
    width: 120px;
    padding: 10px;
    margin: 10px;
}

nav ul li:last-child{
    width: 80px;
    height: 34px;
    text-align: start;
}

/* Theme switch */
.swtich{
    justify-self: center;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.themeMode{
    opacity:0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    height: 34px;
    width: 60px;
    border-radius: 2rem;
    background-color: #495B5B;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
}
.slider:before{
    position: absolute;
    content: " ";
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 2rem;
    bottom: 4px;
    left:4px;
    transition: ease-in .2s;

}

.themeMode:checked + .slider:before{
    transform: translateX(26px);
    transition: ease-in .2s;
}
/* Login Box */
.loginBox{
    height: 300px;
    width: 300px;
    position: absolute;
    top:40%;
    left:50%;
    background-color: var(--background2);
    transform: translate(-50%, -40%);
    border-radius: 10px;
    font-family: "Raleway";
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
       rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loginBox form:nth-child(1){
    height:100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto min-content auto min-content auto auto auto;
    align-items: center;
}

.loginBox form:nth-child(2){
    height: 0px;
    width: 0px;
}

.loginBox form input{
    height: 50%;
    width: 80%;
    justify-self: center;
    border-radius: 3px;
    border: none;
}

.loginBox form button{
    height: 50%;
    width: 50%;
    margin-left: 27px;
    align-self: flex-start;
}

.loginBox form p:not(:nth-child(1)){
    margin-left: 27px;
}

.loginBox form p:first-child{
    align-items: center;
    justify-self: center;
}

.Body{
    display: grid;
    grid-template-columns: auto auto auto;
}

.Main{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Main p{
    font-family: "Raleway";
    font-size: 24px;
    margin:10px;
}

.Main>div{
    background-color: beige;
    border-radius: 10px;
    margin:10px;
    height:500px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.Add form{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;

}

.Add form p{
    font-size: 24px;
    text-align: center;
    margin: 20px
}

.Add input{
    height: 20px;
    width:  80%;
    justify-self: center;
}

.Add {
    height: 200px
}

.Add button{
    width: 100px;
    margin: 30px;
    margin-left: 49px
}

.Main .barCard{
        width: 80vw;
        height: 150px;
        align-items: center;
        display: flex;
        border-radius: 20px;
        background-color: beige;
        margin:10px 20px;
}

.bars{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 300px auto 100px;
    align-items: center;
    margin: 10px 40px;
}

.bars>p:nth-child(3){
    font-size: 15px;

}

.Main .current{
    height:400px;
    width: 80vw;
    background-color: beige;
    margin: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: max-content auto auto auto;
    grid-template-rows: auto max-content auto  ;
}

.current img{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 20px;
}

.current .item{
    grid-row: 1/4;
    grid-column: 2/3;
}