<nav>
    <ul>
        <li><a href="/main">Reserve.Me Admin</a></li>
        <li><a href="/">Add Item</a></li>
        <li><a href="/">Available Items</a></li>
        <li><a href="/">Current Borrowers</a></li>
        <li><a href="">Borrower History</a></li>
        <li>
        <label class="switch">
                <input type="checkbox" class="themeMode" id="ThemeMode">
                <span class="slider"></span>
            </label>
        </li>
    </ul>
</nav>