<nav>
    <ul>
        <li><a href="">Reservation Site</a></li>
        <li><a href="">Add Item</a></li>
        <li><a href="">Available Items</a></li>
        <li><a href="">Current Borrowers</a></li>
        <li><a href="">Borrower History</a></li>
        <li><a href="">Mode</a></li>
    </ul>
</nav>