.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*{
    margin: 0px;    
}

[data-theme="light"]{
    --background1: #FFFFE7;
    --background2: #9AAAAA;
    --titleText: black
}

body{
    background-color: var(--background1);
}
/* Navigation Bar */
nav{    
    height: 7vh;
    width: 100vw;
}

nav ul{     
    display: flex;
    height: 100%;
    background-color: var(--background2);
    opacity: 80;
    align-items: center;
    list-style-type: none; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Raleway';
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav ul li:first-child{
    font-weight: 450;
    margin-right: auto;
    text-wrap: nowrap;
    text-align: center;
    text-justify: center;
    font-size: 49px;
}

nav ul li:first-child a{
    color: black;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li:not(:nth-child(1)){
    float: right;
    text-align: center;
    width: 150px;
    padding: 20px;
    margin: 10px;
    text-wrap: nowrap;
    font-size: 20px;
    color: black;
}

nav ul li:last-child{
    width: 80px;
    height: 34px;
    text-align: start;
}

/* Theme switch */
.swtich{
    justify-self: center;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.themeMode{
    opacity:0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    height: 34px;
    width: 60px;
    border-radius: 2rem;
    background-color: blue;
}
.slider:before{
    position: absolute;
    content: " ";
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 2rem;
    bottom: 4px;
    left:4px;
}

    
/* Login Box */
.loginBox{
    height: 300px;
    width: 300px;
    position: absolute;
    top:40%;
    left:50%;
    background-color: #9AAAAA;
    transform: translate(-50%, -40%);
    border-radius: 10px;
    font-family: 'Raleway';
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
       rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loginBox form:nth-child(1){
    height:100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto min-content auto min-content auto auto auto;
    align-items: center;
}

.loginBox form:nth-child(2){
    height: 0px;
    width: 0px;
}

.loginBox form input{
    height: 50%;
    width: 80%;
    justify-self: center;
    border-radius: 3px;
    border: none;
}

.loginBox form button{
    height: 50%;
    width: 50%;
    margin-left: 27px;
    align-self: flex-start;
    background-color: #FFF2E7;
    box-shadow: inset;
}

.loginBox form p:not(:nth-child(1)){
    margin-left: 27px;
}

.loginBox form p:first-child{
    align-items: center;
    justify-self: center;
}

